# Customer
!.gitattributes
!.editorconfig

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Gradle
build/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# folder

*.project
*.settings
target/

.*.jar
.*.target
production.zip
# npm
node_modules/

#typings
typings/

# -- Editores -----------------------------------------

# bower
bower_install/

# vim
.*.sw[a-z]
*.un~
Session.vim
.netrwhist

# jetbrains
.idea/
*.iml

# sublimetext
/*.sublime-project
*.sublime-workspace

# -- Sistemas Operativos ------------------------------
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Linux
.*
!.gitignore
!.htaccess
*~

# Mac OS X
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes
bin
